body{
    background: radial-gradient(circle at 75% 85%, #7979ff, #303066);
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    .profile{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .profile_box{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
            margin: 0 auto;
            max-width: 37.5rem;
            padding: 1.25rem 0;
            width: calc(100% - 40px);
            .profile_header{
                align-items: center;
                color: #303066;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.624rem;
                position: relative;
                .logo{
                    background-image: url('../image/erabaraka.jpg');
                    background-size: cover;
                    border-radius: 100%;
                    box-shadow: 0 7px 10px rgba(50, 50, 93, 10%), 0 3px 4px rgba(0, 0, 0,6%);
                    height: 7.5rem;
                    min-height: 7.5rem;
                    min-width: 7.5rem;
                    overflow: hidden;
                    position: relative;
                    width: 7.5rem;
                }
                .brand{
                    align-items: center;
                    box-sizing: border-box;
                    display: flex;
                    margin-top: 1.25rem;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-basis: 1%;
                    width: 100%;
                    color: #fff;
                    .name {
                        align-items: center;
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 1.875rem;
                        padding-bottom: .5rem;
                        padding-left: 0;
                        word-break: break-word;
                        color: #fff;
                    }
                    .location {
                        align-items: center;
                        border: 2px solid #fff;
                        border-radius: 1.5625rem;
                        display: flex;
                        font-size: .875rem;
                        margin: .3125rem 0;
                        padding: .5rem .9375rem .5rem .625rem;
                        width: -webkit-max-content;
                        width: -moz-max-content;
                        width: max-content;
                        color: #fff;
                    }
                }
            }
            .profile_link{
                display: flex;
                flex-direction: column;
                margin-top: .625rem;
               li{
                margin-bottom: 1.25rem;
                display: block;
                a {
                    text-decoration: none;
                    color: inherit;
                    transition: .3s;
                }
               }
               .link{
                position: relative;
                .link-content {
                    border-radius: .9375rem;
                    color: #fff;
                    background: none;
                    border: 1px solid #fff;
                    align-items: center;
                    box-shadow: 0 7px 10px rgba(50, 50, 93,10%), 0 3px 4px rgba(0, 0, 0, 6%);
                    cursor: pointer;
                    display: flex;
                    overflow: hidden;
                    transition: .2s;
                   .link-icon {
                        border-right: 1px solid #fff;
                        height: 4.375rem;
                        margin-right: .9375rem;
                        position: relative;
                        width: 4.375rem;
                        .icon {
                            align-items: center;
                            display: flex;
                            justify-content: center;
                        }
                        .icon.service {
                            padding: .9375rem;
                        }
                    }
                    .link-name {
                        overflow: hidden;
                        padding-right: .9375rem;
                        text-overflow: ellipsis;
                    }
                }   
            }

            }
        }
    }

    .create{
       align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      a{
          text-decoration: none;
          img{
            //   height: 50px;
          }
        }
      .link{
        display: block;
        margin: 0 auto;
        padding: 0;
        position: relative;
        z-index: 1;
      }
    }

}